@import "tailwindcss";

body {
  font-family: "Onest Variable", sans-serif;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 1rem;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
  min-height: 0;
  overflow: auto;
}

#footer {
  grid-area: footer;
}
